.card-wrapper {
  display: block;
}

@media screen and (max-width: 960px) {
  /* .card-wrapper {
    display: block;

  } */
}

.custom-card {
  background-size: cover;
  background-color: #1F6E8C;
    position: relative;
    width: 300px;
    height: 118px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 40px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); 
    transition: all .2s ease-in-out;
  }

  .custom-card:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
  
  .title {
    padding: 20px;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
  }

  .icon-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .icon-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    /* background-color: rgba(0, 0, 0, 0.7); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
  }
  
  .icon-list {
    color: #fff;
    font-size: 24px;
    animation: scrollIcons 10s linear infinite;
  }

  .icon-list:hover {
    animation-play-state: paused;
  }
  
  @keyframes scrollIcons {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  .card-expanded {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: #1F6E8C;
    border: #1F6E8C solid 2px;
    
    border-radius: 10px;
    padding: 4px 8px;
    margin: 10px 10px;
    box-shadow: 0 5px 9px rgba(0, 0, 0, 0.5);
  }




